<footer>
    <link rel="stylesheet" href="/css/footer.css"> 
    <p>Paymaster &copy; 2024 All Rights Reserved. Built with <span style="color: red;">&#x2764;</span> by <a href="https://github.com/veranyagaka">Vera Nyagaka</a>.</p>
</footer>
  