<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="/css/landing.css">

    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <title>PayMaster</title>
  </head>
  <body>
<h1>Today's Date: <%= displayFullDate() %></h1>

    <script>
        // Function definition to avoid code duplication (optional)
        
    </script>    <div id="root"></div>
    <div class="container">
      <h1>Welcome to PayMaster</h1>
      <p>PayMaster is a web-based management system for the Ministry of Education. It helps manage payroll, employee records, and more.</p>
      <p>Please log in to access the system:</p>
      <a class="btn" href="login">Log In</a>
      <p>Don't have an account? <a href="register">Sign Up</a></p>
  </div>
  <%- include('calendar') %>

  <%- include('footer') %>


  </body>
</html>
