<link rel="stylesheet" href="/css/admin-dashboard.css">
<div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="logo">
        <img src="/favicon.ico" alt="Paymaster Logo">
        <span class="sidebar-heading text-white">Paymaster</span>
    </div>
    <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
        <a href="/admin/employees" class="list-group-item list-group-item-action bg-dark text-white">Employees</a>
        <a href="/admin/attendance-records" class="list-group-item list-group-item-action bg-dark text-white">Attendance</a>
        <a href="/admin/leave-requests" class="list-group-item list-group-item-action bg-dark text-white">Leave</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Salaries</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Reports</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Log out</a>

    </div>
</div>