<body>
    <style>

.sidebar {
            position: fixed;
            top: 70px;
            left: 0;
            height: calc(100% - 70px);
            width: 250px;
            background-color: #343a40;
            padding-top: 15px;
        }
        .sidebar .nav-link {
            color: #fff;
            padding: 10px 15px;
            font-size: 16px;
        }
        .sidebar .nav-link i {
            margin-right: 10px;
        }
        .sidebar .nav-link:hover {
            background-color: #495057;
        }
        .submenu {
            display: none;
            background-color: #343a40;
        }
        .submenu .nav-link {
            padding-left: 50px;
            font-size: 14px;
        }
        .submenu .nav-link:hover {
            background-color: #495057;
        }
        .active-submenu {
            display: block;
        }

    </style>
    <!-- Sidebar -->
    <div class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-user"></i> Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-cog"></i> Settings
                </a>
                <ul class="submenu">
                    <li class="nav-item"><a class="nav-link" href="#">Account Settings</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Security</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Preferences</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-lock"></i> Privacy
                </a>
                <ul class="submenu">
                    <li class="nav-item"><a class="nav-link" href="#">Privacy Settings</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Data Access</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-history"></i> Activity
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        </ul>
    </div>
    <script>
        $(document).ready(function(){
            $('.nav-link').click(function(){
                $(this).siblings('.submenu').toggleClass('active-submenu');
            });
        });
    </script>
